<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Benvenuto alla pagina della Riunione</title>
</head>
<body>
	<h1>Ecco l'elenco delle persone che puoi invitare alla riunione</h1>
	<form th:action="@{/CreaRiunione(titolo=${DatiRiunione.titolo}, data=${DatiRiunione.data}, ora=${DatiRiunione.ora}, durata=${DatiRiunione.durata}, num_max_p=${DatiRiunione.num_max_partecipanti}, host=${DatiRiunione.host})}" method="post">
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Cognome</th>
					<th>Da Invitare</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="u : ${daInvitare}">
					<td th:text="${u.id}"></td>
					<td th:text="${u.nome}"></td>
					<td th:text="${u.cognome}"></td>
					<td><input type="checkbox" name="id_invitato" th:value="${u.id}" th:checked = "${lista_invitati.contains(u.id)}"></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="Invita">
	</form>
</body>
</html>